alembic==1.13.1
factory-boy==3.3.0
fastapi==0.109.0
httpx==0.26.0
psycopg2-binary==2.9.9
pydantic_settings==2.2.0
pytest-cov==4.1.0
pytest-mock==3.12.0
sqlalchemy==2.0.27
sqlalchemy_utils==0.41.1
uvicorn[standard]==0.26.0
